In [1]:
import pandas as pd
import numpy as np
import datetime
import dateutil
from datetime import timedelta
from collections import Counter
pd.set_option('display.max_columns', 500)
import ast
from collections import Counter
import re
from tqdm.notebook import tqdm, tnrange
tqdm.pandas()
import missingno as msno
from collections import Counter
'''
  GRAB THEATRE COUNT
'''
def createDate(row):
  if type(row)==str:
    return dateutil.parser.parse(row).strftime('%Y-%m-%d')
  else:
    return np.nan

/Users/brianphelps/opt/anaconda3/envs/thesis/lib/python3.8/site-packages/tqdm/std.py:668: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [2]:
'''
  GRAB MOVIE DATA FROM THREADS
'''

def createDf():
  path = "./data//full_"
  paths = ['one', 'two', 'three', 'four', 'five', 'six']
  df = pd.DataFrame()
  for val in paths:
    df = df.append(pd.read_csv(f"{path}{val}.csv"))
  return df

df = createDf()

#DROP INVALID DISTRIBUTOR COLUMNS
df = df.drop(columns=['distributor'])

#DROP MOVIES WITHOUT DEPENDENT VARIABLE DATA
# df.dropna(subset=['box_office'], inplace=True)

#DROP DUPLICATE MOVIES
df = df.drop_duplicates(subset=['profile'])
df = df.reset_index(drop=True)

/Users/brianphelps/opt/anaconda3/envs/thesis/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3337: DtypeWarning: Columns (29) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [3]:
df.shape

(367802, 42)

In [ ]:
drop_columns=['budget','box_office', 'int_office', 'runtime','director_credits','cinematographer','cin_anch','musician','musician_anchor', 'prod_designer', 'prod_designer_anchor','costume_designer','costume_designer_anchor','sequel','screen_writers','screen_anchors','screen_credits','spec_eff','sound_mix','producers','prod_credits','cast_count','comp_count','version_count','references_count']
df=df.drop(columns=drop_columns)

In [ ]:
df.head()

In [ ]:
msno.bar(df)

In [ ]:
import seaborn as sns
df['summary_len']

In [56]:
Counter(df['summary'].dropna()).most_common(30)

[('Add a Plot\xa0»', 146808),
 ('Plot unknown.', 110),
 ('Plot kept under wraps.', 18),
 ('The plot is unknown at this time.', 15),
 ("Hamlet suspects his uncle has murdered his father to claim the throne of Denmark and the hand of Hamlet's mother, but the prince cannot decide whether or not he should take vengeance.",
  13),
 ('Macbeth, the Thane of Glamis, receives a prophecy from a trio of witches that one day he will become King of Scotland. Consumed by ambition and spurred to action by his wife, Macbeth murders his king and takes the throne for himself.',
  11),
 ('The Moorish general Othello is manipulated into thinking that his new wife Desdemona has been carrying on an affair with his lieutenant Michael Cassio when in reality it is all part of the scheme of a bitter ensign named Iago.',
  9),
 ('Two teenagers fall in love, but their feuding families and fate itself cause the relationship to end in tragedy.',
  9),
 ('The plot is unknown.', 9),
 ('An orphan named Oliver Twist meets a pickpocket on the streets of London. From there, he joins a household of boys who are trained to steal for their master.',
  8),
 ('Two episodes of the TV series "Wild Bill Hickok" edited together and released as a feature.',
  8),
 ('Young lovers Hero and Claudio, soon to wed, conspire to get verbal sparring partners and confirmed singles Benedick and Beatrice to wed as well.',
  7),
 ('Plot is unknown.', 7),
 ("Mistaken identity, unrequited love, and the supernatural are combined in Shakespeare's classic set in the woods of Greece on a moonlit night.",
  7),
 ('After a harsh childhood, orphan Jane Eyre is hired by Edward Rochester, the brooding lord of a mysterious manor house, to care for his young daughter.',
  7),
 ('FOR ADULTS ONLY.', 7),
 ("Short animation film from the series 'Garabatos'.", 7),
 ('Dr. Henry Jekyll experiments with scientific means of revealing the hidden, dark side of man and releases a murderer from within himself.',
  6),
 ('Plot is unknown at this time.', 6),
 ('Emil goes to Berlin to see his grandmother with a large amount of money and is offered sweets by a strange man that make him sleep. He wakes up at his stop with no money. It is up to him and a group of children to save the day.',
  6),
 ('Based on the SEGA video game title.', 6),
 ("D'Artagnan and his musketeer comrades must thwart the plans of Cardinal Richelieu to usurp King Louis XIII's power.",
  6),
 ('The plot is currently unknown.', 5),
 ('Plot is being kept under wraps.', 5),
 ('When a nobleman is threatened by a family curse on his newly inherited estate, Sherlock Holmes is hired to investigate.',
  5),
 ("A poor boy named Tom Canty and Edward, the Prince of Wales exchange identities but events force the pair to experience each other's lives as well.",
  5),
 ("Lonely youth Shinji meets Hatsue, a pretty pearl diver, on the beach and the two fall in love. But Shinji has a rival for Hatsue's affections, Yasuo. Yasuo spreads unpleasant gossip about ...\n                    See full summary\xa0»",
  5),
 ('During World War II, a teenage Jewish girl named Anne Frank and her family are forced into hiding in the Nazi-occupied Netherlands.',
  4),
 ('Desperate measures are taken by a man who tries to save his family from the dark side of the law, after they commit an unexpected crime.',
  4),
 ('Katusha, a country girl, is seduced and abandoned by Prince Nekludov. Nekludov finds himself, years later, on a jury trying the same Katusha for a crime he now realizes his actions drove ...\n                    See full summary\xa0»',
  4)]

In [46]:
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
from sklearn.metrics.pairwise import linear_kernel
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import LatentDirichletAllocation
import re
import random
import chart_studio.graph_objs as go
import chart_studio.plotly as py
import cufflinks
pd.options.display.max_columns = 30
from IPython.core.interactiveshell import InteractiveShell
import plotly.figure_factory as ff
InteractiveShell.ast_node_interactivity = 'all'
from plotly.offline import iplot
cufflinks.go_offline()
cufflinks.set_config_file(world_readable=True, theme='solar')

In [53]:
def get_top_n_words(corpus, n=None):
  vec = CountVectorizer().fit(corpus)
  bag_of_words = vec.transform(corpus)
  sum_words = bag_of_words.sum(axis=0) 
  words_freq = [(word, sum_words[0, idx]) for word, idx in vec.vocabulary_.items()]
  words_freq =sorted(words_freq, key = lambda x: x[1], reverse=True)
  return words_freq[:n]
common_words = get_top_n_words(df['summary'].dropna(), 20)
df1 = pd.DataFrame(common_words, columns = ['desc' , 'count'])
df1.head(20)

       desc   count
0       the  274307
1        to  162936
2        of  160812
3       and  149960
4      plot  148316
5       add  146886
6        in  122313
7        is   91328
8       his   88662
9       see   73759
10     full   73634
11  summary   70821
12     with   54139
13      her   53294
14       he   48986
15       an   46192
16      for   40060
17      who   38596
18       on   37509
19       by   37310

In [55]:
def get_top_n_words(corpus, n=None):
  vec = CountVectorizer(stop_words='english').fit(corpus)
  bag_of_words = vec.transform(corpus)
  sum_words = bag_of_words.sum(axis=0) 
  words_freq = [(word, sum_words[0, idx]) for word, idx in vec.vocabulary_.items()]
  words_freq =sorted(words_freq, key = lambda x: x[1], reverse=True)
  return words_freq[:n]
common_words = get_top_n_words(df['summary'].dropna(), 20)
df2 = pd.DataFrame(common_words, columns = ['desc' , 'count'])
df2.head(20)

       desc   count
0      plot  148316
1       add  146886
2   summary   70821
3     young   24506
4      life   20672
5       man   19702
6      love   17078
7     story   14746
8     woman   13348
9    family   12738
10     film   12489
11      new   11207
12     girl   11136
13      old   10733
14   father   10344
15    world    9022
16     wife    8962
17  friends    8280
18    lives    8204
19    years    7933

In [10]:
'''
  CONVERT COLUMNS TO LISTS
'''
import ast

def cleanColumn(row):
  try:
    if type(row)==str:
      values = ast.literal_eval(row)
      if type(values)!=dict:
        cleaned_values=[]
        for val in values:
          val = val.replace(",", "").strip()
          cleaned_values.append(val)
        return cleaned_values
      else:
        return values
    else:
      return np.nan
  except:
    return np.nan

columns = ['sequel',
'cast_members',
'cast_anchors',
'directors',
'director_anchors',
'director_credits',
'pro_comp',
'spec_eff',
'sound_mix',
'stars',
'star_anchs',
'screen_writers',
'screen_anchors',
'screen_credits',
'producers',
'prod_anchors',
'prod_credits',
'genre',
'comp_count',
'cast_count']

for value in tqdm(columns):
  tqdm.pandas(desc="Creating Datetime")
  df[value] = df[value].apply(cleanColumn)

df['cast'] = df['cast_members']
df = df.drop(columns=['cast_members', 'sequels'])

HBox(children=(IntProgress(value=0, max=20), HTML(value='')))

c:\users\brian\anaconda3\lib\site-packages\tqdm\std.py:648: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [4]:
'''
  CONVERT DATE INTO ISO FORMAT
'''
def createDates(row):
  if type(row)==str:
    return dateutil.parser.parse(row).strftime('%Y-%m-%d')
  else:
    return np.nan

def createDateTime(row):
  row = row.split("-")
  row = datetime.datetime(int(row[0]), int(row[1]), int(row[2]))
  return row

tqdm.pandas(desc="Creating Date")
df['date'] = df['release'].progress_apply(createDates)
df = df.dropna(subset=['date'])
df = df.reset_index(drop=True)

tqdm.pandas(desc="Creating Datetime")
df['datetime'] = df['date'].progress_apply(createDateTime)
tqdm.pandas(desc="Creating Year Column")
df['year'] = df['datetime'].progress_apply(lambda x: x.year)
tqdm.pandas(desc="Creating Month Column")
df['month'] = df['datetime'].progress_apply(lambda x: x.month)

HBox(children=(IntProgress(value=0, description='Creating Date', max=367803, style=ProgressStyle(description_w…

HBox(children=(IntProgress(value=0, description='Creating Datetime', max=271994, style=ProgressStyle(descripti…

HBox(children=(IntProgress(value=0, description='Creating Year Column', max=271994, style=ProgressStyle(descri…

HBox(children=(IntProgress(value=0, description='Creating Month Column', max=271994, style=ProgressStyle(descr…

In [7]:
def mainProd(row):
  try:
    return row[0]
  except:
    return np.nan
tqdm.pandas(desc="Production Company")
df['main_prod'] = df['pro_comp'].progress_apply(mainProd)

HBox(children=(IntProgress(value=0, description='Production Company', max=271994, style=ProgressStyle(descript…