In [3]:
import pandas as pd
import numpy as np
import datetime
import dateutil
from datetime import timedelta
from collections import Counter
pd.set_option('display.max_columns', 500)
import ast
import re
from tqdm.notebook import tqdm, tnrange
tqdm.pandas()
import missingno as msno
import seaborn as sns

In [4]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
import nltk
nltk.download('punkt')
import nltk.data
tokenizer = nltk.data.load('tokenizers/punkt/english.pickle')

from transformers import T5Tokenizer, T5ForConditionalGeneration, T5Config
import torch
import json

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/brianphelps/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [ ]:
'''
  GRAB MOVIE DATA FROM THREADS
'''
def createDate(row):
  if type(row)==str:
    return dateutil.parser.parse(row).strftime('%Y-%m-%d')
  else:
    return np.nan

def createDf():
  path = "./data//full_"
  paths = ['one', 'two', 'three', 'four', 'five', 'six']
  df = pd.DataFrame()
  for val in paths:
    df = df.append(pd.read_csv(f"{path}{val}.csv"))
  return df

df = createDf()

#DROP INVALID DISTRIBUTOR COLUMNS
df = df.drop(columns=['distributor'])

#DROP MOVIES WITHOUT DEPENDENT VARIABLE DATA
# df.dropna(subset=['box_office'], inplace=True)

#DROP DUPLICATE MOVIES
df = df.drop_duplicates(subset=['profile'])
df = df.reset_index(drop=True)

In [ ]:
df.shape

In [ ]:
drop_columns=['cast_members','cast_anchors','directors','release','mpaa','stars','languages','prod_anchors','budget','box_office', 'int_office', 'runtime','director_credits','cinematographer','cin_anch','musician','musician_anchor', 'prod_designer', 'prod_designer_anchor','costume_designer','costume_designer_anchor','sequel','screen_writers','screen_anchors','screen_credits','spec_eff','sound_mix','producers','prod_credits','cast_count','comp_count','version_count','references_count']
df=df.drop(columns=drop_columns)

In [ ]:
df.head()

In [ ]:
errors = ['The plot is unknown at this time.','Add a Plot\xa0»','Plot unknown.','Plot kept under wraps.','Plot is unknown.','The plot is unknown.','Plot is unknown at this time.','The plot is currently unknown.','Plot is being kept under wraps.']
replace = ['See full summary\xa0»','...\n','\n']

In [ ]:
df=df.reset_index(drop=True)
error_count=0
keep_indices=[]
for idx,row in tqdm(enumerate(df.itertuples()),total=len(df)):
  if row.summary in errors:
    error_count+=1
  else:
    keep_indices.append(idx)
  if type(row.summary)==str:
    for val in replace:
      if val in row.summary:
        df.at[idx, 'summary']=row.summary.replace(val, "")

In [ ]:
df=df.iloc[keep_indices]

In [ ]:
df=df.reset_index(drop=True)

In [ ]:
def mainProd(row):
  try:
    return row[0]
  except:
    return np.nan
tqdm.pandas(desc="Production Company")
df['main_prod'] = df['pro_comp'].progress_apply(lambda x: ast.literal_eval(x)[0] if type(x)==str else np.nan)
df=df.drop('pro_comp',axis=1)

In [ ]:
lists = ['sequels','director_anchors','star_anchs']
for val in lists:
  df[val]=df[val].apply(lambda x: ast.literal_eval(x) if type(x)==str else np.nan)

In [ ]:
fixed_plots = []
for idx, row in enumerate(df.itertuples()):
  if type(row.summary)!=str:
    if type(row.plot)==str:
      df.at[idx, 'summary']=row.plot
      fixed_plots.append(row.plot)

In [ ]:
print(f"Fixed {len(fixed_plots)} movie summaries")

In [ ]:
df=df.dropna(subset=['summary'])
df=df.reset_index(drop=True)

In [ ]:
msno.bar(df)

### Feature Engineering

#### Genre and Director
#### Genre and Stars
#### Stars and Director
#### Stars Director Genre

In [ ]:
def summary_len(text):
  result = len(tokenizer.tokenize(text))
  return result
df['summary_len']=df['summary'].apply(summary_len)

In [ ]:
df['summary_len']

In [ ]:
sns.distplot(df['summary_len'])

In [ ]:
df['word_count']=df['summary'].apply(lambda x: len(x.split(" ")))

In [ ]:
len(df.loc[df['word_count']<25])

In [ ]:
sns.distplot(df['word_count'])

In [ ]:
np.bincount(df['summary_len'])

In [ ]:
device = torch.device('cpu')
model = T5ForConditionalGeneration.from_pretrained('t5-small')
tokenizer = T5Tokenizer.from_pretrained('t5-small')

In [ ]:
def summarize_text(text):
  preprocess_text = text.strip().replace("\n","")
  t5_prepared_Text = "summarize: "+preprocess_text

  tokenized_text = tokenizer.encode(t5_prepared_Text, return_tensors="pt").to(device)


  # summmarize 
  summary_ids = model.generate(tokenized_text,
                                      num_beams=4,
                                      no_repeat_ngram_size=2,
                                      max_length=30,
                                      early_stopping=True)

  output = tokenizer.decode(summary_ids[0], skip_special_tokens=True)
  return output

In [ ]:
from pandarallel import pandarallel

In [ ]:
pandarallel.initialize()

In [ ]:
df['summary_input'] = df['summary'].parallel_apply(summarize_text)

In [ ]:
df['summary_input']=values

In [ ]:
df.to_csv("data.csv")

In [6]:
import torch
import json 
from transformers import T5Tokenizer, T5ForConditionalGeneration, T5Config

model = T5ForConditionalGeneration.from_pretrained('t5-small')
tokenizer = T5Tokenizer.from_pretrained('t5-small')
device = torch.device('cuda')



text ="""
The US has "passed the peak" on new coronavirus cases, President Donald Trump said and predicted that some states would reopen this month.
The US has over 637,000 confirmed Covid-19 cases and over 30,826 deaths, the highest for any country in the world.
At the daily White House coronavirus briefing on Wednesday, Trump said new guidelines to reopen the country would be announced on Thursday after he speaks to governors.
"We'll be the comeback kids, all of us," he said. "We want to get our country back."
The Trump administration has previously fixed May 1 as a possible date to reopen the world's largest economy, but the president said some states may be able to return to normalcy earlier than that.
"""


preprocess_text = text.strip().replace("\n","")
t5_prepared_Text = "summarize: "+preprocess_text
print ("original text preprocessed: \n", preprocess_text)

tokenized_text = tokenizer.encode(t5_prepared_Text, return_tensors="pt").to(device)


# summmarize 
summary_ids = model.generate(tokenized_text,
                                    num_beams=4,
                                    no_repeat_ngram_size=2,
                                    min_length=30,
                                    max_length=100,
                                    early_stopping=True)

output = tokenizer.decode(summary_ids[0], skip_special_tokens=True)

print ("\n\nSummarized text: \n",output)

Some weights of the model checkpoint at t5-small were not used when initializing T5ForConditionalGeneration: ['decoder.block.0.layer.1.EncDecAttention.relative_attention_bias.weight']
- This IS expected if you are initializing T5ForConditionalGeneration from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing T5ForConditionalGeneration from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

original text preprocessed:
 The US has "passed the peak" on new coronavirus cases, President Donald Trump said and predicted that some states would reopen this month.The US has over 637,000 confirmed Covid-19 cases and over 30,826 deaths, the highest for any country in the world.At the daily White House coronavirus briefing on Wednesday, Trump said new guidelines to reopen the country would be announced on Thursday after he speaks to governors."We'll be the comeback kids, all of us," he said. "We want to get our country back."The Trump administration has previously fixed May 1 as a possible date to reopen the world's largest economy, but the president said some states may be able to return to normalcy earlier than that.


Summarized text:
 the president predicts some states will reopen this month. the u.s. has over 637,000 confirmed cases and over 30,826 deaths, the highest for any country in the world. "we want to get our country back," he says.

In [ ]:
model = TransformerSummarizer(
    transformer_type= 'Albert',
    transformer_model_key= 'albert-base-v2'    
)
def summarize_review(row):
  result = len(tokenizer.tokenize(row))
  if result>3:
    return model(row,num_sentences=3)
  else:
    return row

df['summarized_summary'] = df['summary'].progress_apply(summarize_review)

In [104]:


data = df['summary'][0]



print('\n-----\n'.join(tokenizer.tokenize(data)))

Three decades after the Empire's defeat, a new threat arises in the militant First Order.
-----
Defected stormtrooper Finn and the scavenger Rey are caught up in the Resistance's search for the missing Luke Skywalker.

In [ ]:
count = CountVectorizer()
count_matrix = count.fit_transform(df['bag_of_words'])

# generating the cosine similarity matrix
cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [46]:
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
from sklearn.metrics.pairwise import linear_kernel
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import LatentDirichletAllocation
import re
import random
import chart_studio.graph_objs as go
import chart_studio.plotly as py
import cufflinks
pd.options.display.max_columns = 30
from IPython.core.interactiveshell import InteractiveShell
import plotly.figure_factory as ff
InteractiveShell.ast_node_interactivity = 'all'
from plotly.offline import iplot
cufflinks.go_offline()
cufflinks.set_config_file(world_readable=True, theme='solar')

In [53]:
def get_top_n_words(corpus, n=None):
  vec = CountVectorizer().fit(corpus)
  bag_of_words = vec.transform(corpus)
  sum_words = bag_of_words.sum(axis=0) 
  words_freq = [(word, sum_words[0, idx]) for word, idx in vec.vocabulary_.items()]
  words_freq =sorted(words_freq, key = lambda x: x[1], reverse=True)
  return words_freq[:n]
common_words = get_top_n_words(df['summary'].dropna(), 20)
df1 = pd.DataFrame(common_words, columns = ['desc' , 'count'])
df1.head(20)

       desc   count
0       the  274307
1        to  162936
2        of  160812
3       and  149960
4      plot  148316
5       add  146886
6        in  122313
7        is   91328
8       his   88662
9       see   73759
10     full   73634
11  summary   70821
12     with   54139
13      her   53294
14       he   48986
15       an   46192
16      for   40060
17      who   38596
18       on   37509
19       by   37310

In [55]:
def get_top_n_words(corpus, n=None):
  vec = CountVectorizer(stop_words='english').fit(corpus)
  bag_of_words = vec.transform(corpus)
  sum_words = bag_of_words.sum(axis=0) 
  words_freq = [(word, sum_words[0, idx]) for word, idx in vec.vocabulary_.items()]
  words_freq =sorted(words_freq, key = lambda x: x[1], reverse=True)
  return words_freq[:n]
common_words = get_top_n_words(df['summary'].dropna(), 20)
df2 = pd.DataFrame(common_words, columns = ['desc' , 'count'])
df2.head(20)

       desc   count
0      plot  148316
1       add  146886
2   summary   70821
3     young   24506
4      life   20672
5       man   19702
6      love   17078
7     story   14746
8     woman   13348
9    family   12738
10     film   12489
11      new   11207
12     girl   11136
13      old   10733
14   father   10344
15    world    9022
16     wife    8962
17  friends    8280
18    lives    8204
19    years    7933

In [10]:
'''
  CONVERT COLUMNS TO LISTS
'''
import ast

def cleanColumn(row):
  try:
    if type(row)==str:
      values = ast.literal_eval(row)
      if type(values)!=dict:
        cleaned_values=[]
        for val in values:
          val = val.replace(",", "").strip()
          cleaned_values.append(val)
        return cleaned_values
      else:
        return values
    else:
      return np.nan
  except:
    return np.nan

columns = ['sequel',
'cast_members',
'cast_anchors',
'directors',
'director_anchors',
'director_credits',
'pro_comp',
'spec_eff',
'sound_mix',
'stars',
'star_anchs',
'screen_writers',
'screen_anchors',
'screen_credits',
'producers',
'prod_anchors',
'prod_credits',
'genre',
'comp_count',
'cast_count']

for value in tqdm(columns):
  tqdm.pandas(desc="Creating Datetime")
  df[value] = df[value].apply(cleanColumn)

df['cast'] = df['cast_members']
df = df.drop(columns=['cast_members', 'sequels'])

HBox(children=(IntProgress(value=0, max=20), HTML(value='')))

c:\users\brian\anaconda3\lib\site-packages\tqdm\std.py:648: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [4]:
'''
  CONVERT DATE INTO ISO FORMAT
'''
def createDates(row):
  if type(row)==str:
    return dateutil.parser.parse(row).strftime('%Y-%m-%d')
  else:
    return np.nan

def createDateTime(row):
  row = row.split("-")
  row = datetime.datetime(int(row[0]), int(row[1]), int(row[2]))
  return row

tqdm.pandas(desc="Creating Date")
df['date'] = df['release'].progress_apply(createDates)
df = df.dropna(subset=['date'])
df = df.reset_index(drop=True)

tqdm.pandas(desc="Creating Datetime")
df['datetime'] = df['date'].progress_apply(createDateTime)
tqdm.pandas(desc="Creating Year Column")
df['year'] = df['datetime'].progress_apply(lambda x: x.year)
tqdm.pandas(desc="Creating Month Column")
df['month'] = df['datetime'].progress_apply(lambda x: x.month)

HBox(children=(IntProgress(value=0, description='Creating Date', max=367803, style=ProgressStyle(description_w…

HBox(children=(IntProgress(value=0, description='Creating Datetime', max=271994, style=ProgressStyle(descripti…

HBox(children=(IntProgress(value=0, description='Creating Year Column', max=271994, style=ProgressStyle(descri…

HBox(children=(IntProgress(value=0, description='Creating Month Column', max=271994, style=ProgressStyle(descr…

HBox(children=(IntProgress(value=0, description='Production Company', max=271994, style=ProgressStyle(descript…